<div class="bg-green-700 min-w-full p-4 flex space-x-2 justify-center w-full">
  <app-primary-button 
    [isLoading]="isLoginLoading" 
    [buttonText]="'Login'"
    [routerLink]="['/login']"
  >
  </app-primary-button>
  <app-primary-button 
    [isLoading]="isToDoListLoading"   
    [buttonText]="'To-do List'"
    [routerLink]="['/to-do-list']"
  >
  </app-primary-button>
  <app-primary-button
    [isLoading]="isJsonLoading"
    [buttonText]="'JSON Placeholder'"
    [routerLink]="['/json-placeholder']"
  ></app-primary-button>
</div>